.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: scroll;
}

#barcont {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

#barchart {
    text-align: center;
    margin: auto;
    width: 800px;
}

#barlegend {
    text-align: center;
    margin: auto;
    width: 200px;
}

#bubblechart {
    text-align: center;
}

#bubbleinfo {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
}

thead {
    background-color: rgba(39, 109, 175, .6);
}

td, th {
    padding: 5px 10px;
    border: 2px solid rgb(39, 109, 175);
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#compliance {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: scroll;
    margin: 0 auto;
}

#event_radial {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    float: left;
}

#organization_radial {
    margin: auto;
    text-align: center;
    width: 300px;
    float: left;
}

#person_radial {
    margin: auto;
    text-align: center;
    width: 300px;
    float: left;
}

#training_radial {
    margin: auto;
    text-align: center;
    width: 300px;
    float: left;
}

.progress-meter text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}