.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: scroll;
}

#barchart {
    text-align: center;
}

#barlegend {
    text-align: center;
}

#bubblechart {
    text-align: center;
}

#bubbleinfo {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
}

thead {
    background-color: rgba(39, 109, 175, .6);
}

td, th {
    padding: 5px 10px;
    border: 2px solid rgb(39, 109, 175);
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}